.image {
  min-height: 360px;
}

@media screen and (max-width: 1024px) {
  .image {
    min-height: 320px;
  }
}

@media screen and (max-width: 640px) {
  .image {
    min-height: 240px;
  }
}

@media (prefers-color-scheme: dark) {
  .image {
    filter: grayscale(60%);
  }
}
