.background {
  background-image: url('/assets/images/header-bg.gif');
  background-position: center;
  background-repeat: repeat-x;
}

.margin {
  margin: 0 -1rem;
}

@media screen and (max-width: 639px) {
  .margin {
    margin-right: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .background {
    background-image: url('/assets/images/header-bg-dark.gif');
  }

  .logo,
  .side {
    background-image: url('/assets/images/logo-dark-7ddb1f8f39.png');
  }
}
