.background {
  background-image: url('/assets/images/header-bg.gif');
  background-position: center;
  background-repeat: repeat-x;
}

.logo {
  height: 40px;
  margin-top: -1.125rem;
  width: 112px;
}

.margin {
  margin: 0 -1rem;
}

@media screen and (max-width: 639px) {
  .margin {
    margin-right: 0;
  }

  .logo {
    height: 38px;
    margin-top: -1rem;
    width: 107px;
  }
}

@media (prefers-color-scheme: dark) {
  .background {
    background-image: url('/assets/images/header-bg-dark.gif');
  }
}
