.link {
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  transition-duration: 150ms;
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-timing-function: var(--ease-in-out);
}

.link:hover {
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
  transform: scale(1.02);
  transition-duration: 150ms;
  transition-duration: var(--tw-duration, var(--default-transition-duration));
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-timing-function: var(--ease-in-out);
}

.link img {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .link {
    background-color: var(--color-gray-900);
  }

  .link:hover {
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,.05);
  }
}

:global(.dark) .link {
  background-color: var(--color-gray-900);
}

:global(.light) .link {
  background-color: var(--color-gray-200);
}

:global(.dark) .link:hover {
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.05);
}

:global(.light) .link:hover {
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}
