.frostedGlass {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  .frostedGlass {
    background: rgba(0, 0, 0, 0.3);
  }
}

:global(.dark) .frostedGlass {
  background: rgba(0, 0, 0, 0.3);
}

:global(.light) .frostedGlass {
  background: rgba(255, 255, 255, 0.15);
}
